/* stavaza: variabele van foont-kleur veranderen lukt niet enkel met css; 'k zal Javascript meoten gebruiken denk ik */

@import 'example_theme_template';

@mixin boxshadowmixinpadding($padding_variables) {
    -webkit-box-shadow: $padding_variables;
    -moz-box-shadow: $padding_variables;
    box-shadow: $padding_variables;
} 

@include themable(theme-1, #f7eb80, #497265, #82aa91, #fff, #bc6a49, white, green);
@include themable(theme-2, #e4ada7, #d88880, #cc6359, #fff, #481b16, orange, green);
@include themable(theme-blue, blue, #000, silver solid, #ddd, #666, #6B8EFF, green);
@include themable(theme-red, red, #000, silver solid, #ddd, #666, rgb(255, 94, 0), green);
// @include themable(theme-purple, purple, pink, silver solid, #ddd, #666, red, green);

